In [80]:
import pandas as pd

In [81]:
lines = []
with open('/content/fifa_rankings_raw.txt', 'r') as f:
  for line in f:
    lines.append(line.strip())

In [83]:
def is_integer(s):
  for char in s:
    if not char.isdigit():
      return False

  return True

In [82]:
lines = lines[1:]
lines

['2',
 'France',
 'France',
 '1837.47\t1840.59\t-3.12',
 '3',
 'Belgium',
 'Belgium',
 '1797.98\t1795.23\t+2.75',
 '5',
 '1',
 'England',
 'England',
 '1787.88\t1794.9\t-7.02',
 '6',
 'Portugal',
 'Portugal',
 '1747.04\t1748.11\t-1.07',
 '7',
 'Netherlands',
 'Netherlands',
 '1746.66\t1742.29\t+4.37',
 '8',
 'Spain',
 'Spain',
 '1729.92\t1727.5\t+2.42',
 '9',
 '1',
 'Croatia',
 'Croatia',
 '1728.3\t1721.07\t+7.23',
 '10',
 '1',
 'Italy',
 'Italy',
 '1724.37\t1724.6\t-0.23',
 '16',
 'Germany',
 'Germany',
 '1646.78\t1644.21\t+2.57',
 '19',
 'Switzerland',
 'Switzerland',
 '1617.24\t1616.41\t+0.83',
 '21',
 'Denmark',
 'Denmark',
 '1610.76\t1602.72\t+8.04',
 '24',
 '2',
 'Ukraine',
 'Ukraine',
 '1565.37\t1568.86\t-3.49',
 '25',
 'Austria',
 'Austria',
 '1560.03\t1554.86\t+5.17',
 '26',
 '2',
 'Poland',
 'Poland',
 '1541.49\t1531.49\t+10',
 '27',
 '1',
 'Hungary',
 'Hungary',
 '1529\t1532.2\t-3.2',
 '28',
 '1',
 'Sweden',
 'Sweden',
 '1522.19\t1531.68\t-9.49',
 '29',
 'Wales',
 'Wales',
 '1521.4\t1531.38\t-9.98',
 '32',
 '1',
 'Serbia',
 'Serbia',
 '1514.76\t1514.2\t+0.56',
 '33',
 '2',
 'Russia',
 'Russia',
 '1506.58\t1504.02\t+2.56',
 '34',
 '2',
 'Czechia',
 'Czechia',
 '1506.23\t1501.47\t+4.76',
 '39',
 'Scotland',
 'Scotland',
 '1497.18\t1497.46\t-0.28',
 '42',
 '2',
 'T端rkiye',
 'T端rkiye',
 '1493.38\t1495.94\t-2.56',
 '45',
 '3',
 'Slovakia',
 'Slovakia',
 '1467.77\t1461.55\t+6.22',
 '46',
 '1',
 'Norway',
 'Norway',
 '1466.48\t1467.51\t-1.03',
 '47',
 '1',
 'Romania',
 'Romania',
 '1462.35\t1468.17\t-5.82',
 '51',
 '1',
 'Greece',
 'Greece',
 '1455.95\t1457.89\t-1.94',
 '57',
 'Slovenia',
 'Slovenia',
 '1429.74\t1427.84\t+1.9',
 '60',
 'Republic of Ireland',
 'Republic of Ireland',
 '1403.84\t1399.74\t+4.1',
 '63',
 '2',
 'Finland',
 'Finland',
 '1393.4\t1394.44\t-1.04',
 '66',
 'Albania',
 'Albania',
 '1379.4\t1375.1\t+4.3',
 '70',
 '2',
 'Iceland',
 'Iceland',
 '1353.48\t1346.82\t+6.66',
 '71',
 '2',
 'North Macedonia',
 'North Macedonia',
 '1348.63\t1354.19\t-5.56',
 '72',
 '2',
 'Montenegro',
 'Montenegro',
 '1345.02\t1351.72\t-6.7',
 '73',
 'Northern Ireland',
 'Northern Ireland',
 '1341.33\t1341.05\t+0.28',
 '74',
 '1',
 'Georgia',
 'Georgia',
 '1338.91\t1333.76\t+5.15',
 '75',
 '1',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 '1332.3\t1335.6\t-3.3',
 '79',
 '1',
 'Israel',
 'Israel',
 '1312.54\t1311.39\t+1.15',
 '82',
 '1',
 'Bulgaria',
 'Bulgaria',
 '1295.5\t1292.59\t+2.91',
 '85',
 '2',
 'Luxembourg',
 'Luxembourg',
 '1276.73\t1277.94\t-1.21',
 '96',
 '1',
 'Armenia',
 'Armenia',
 '1230.79\t1229.18\t+1.61',
 '98',
 '2',
 'Belarus',
 'Belarus',
 '1219.78\t1226.54\t-6.76',
 '105',
 '3',
 'Kosovo',
 'Kosovo',
 '1203.16\t1205.85\t-2.69',
 '109',
 '6',
 'Kazakhstan',
 'Kazakhstan',
 '1193.62\t1203.64\t-10.02',
 '111',
 '1',
 'Azerbaijan',
 'Azerbaijan',
 '1179.88\t1177.83\t+2.05',
 '123',
 'Estonia',
 'Estonia',
 '1146.47\t1141.13\t+5.34',
 '126',
 '2',
 'Cyprus',
 'Cyprus',
 '1136.78\t1141.03\t-4.25',
 '136',
 '1',
 'Lithuania',
 'Lithuania',
 '1100.66\t1095.23\t+5.43',
 '138',
 '2',
 'Latvia',
 'Latvia',
 '1095.98\t1095.91\t+0.07',
 '139',
 '6',
 'Faroe Islands',
 'Faroe Islands',
 '1093.7\t1103.43\t-9.73',
 '152',
 '1',
 'Moldova',
 'Moldova',
 '1033.75\t1028.85\t+4.9',
 '162',
 '2',
 'Andorra',
 'Andorra',
 '996.05\t998.75\t-2.7',
 '172',
 '1',
 'Malta',
 'Malta',
 '970.62\t973.14\t-2.52',
 '198',
 '5',
 'Gibraltar',
 'Gibraltar',
 '836.14\t832.5\t+3.64',
 '199',
 '3',
 'Liechtenstein',
 'Liechtenstein',
 '835.83\t832.75\t+3.08',
 '210',
 'San Marino',
 'San Marino',
 '739.64\t742.05\t-2.41']

In [85]:
ele_dict = {ele: is_integer(ele) for ele in lines}

In [95]:
keys_l = list(ele_dict.keys())

for key_idx in range(len(keys_l)):
  key = keys_l[key_idx]
  if ele_dict[key]:
    ele_dict[keys_l[key_idx + 1]] = False

In [99]:
info = [key for key, val in ele_dict.items() if (not is_integer(key)) or (is_integer(key) and ele_dict[key])]

In [100]:
info

['2',
 'France',
 '1837.47\t1840.59\t-3.12',
 '3',
 'Belgium',
 '1797.98\t1795.23\t+2.75',
 '5',
 'England',
 '1787.88\t1794.9\t-7.02',
 '6',
 'Portugal',
 '1747.04\t1748.11\t-1.07',
 '7',
 'Netherlands',
 '1746.66\t1742.29\t+4.37',
 '8',
 'Spain',
 '1729.92\t1727.5\t+2.42',
 '9',
 'Croatia',
 '1728.3\t1721.07\t+7.23',
 '10',
 'Italy',
 '1724.37\t1724.6\t-0.23',
 '16',
 'Germany',
 '1646.78\t1644.21\t+2.57',
 '19',
 'Switzerland',
 '1617.24\t1616.41\t+0.83',
 '21',
 'Denmark',
 '1610.76\t1602.72\t+8.04',
 '24',
 'Ukraine',
 '1565.37\t1568.86\t-3.49',
 '25',
 'Austria',
 '1560.03\t1554.86\t+5.17',
 '26',
 'Poland',
 '1541.49\t1531.49\t+10',
 '27',
 'Hungary',
 '1529\t1532.2\t-3.2',
 '28',
 'Sweden',
 '1522.19\t1531.68\t-9.49',
 '29',
 'Wales',
 '1521.4\t1531.38\t-9.98',
 '32',
 'Serbia',
 '1514.76\t1514.2\t+0.56',
 '33',
 'Russia',
 '1506.58\t1504.02\t+2.56',
 '34',
 'Czechia',
 '1506.23\t1501.47\t+4.76',
 '39',
 'Scotland',
 '1497.18\t1497.46\t-0.28',
 '42',
 'T端rkiye',
 '1493.38\t1495.94\t-2.56',
 '45',
 'Slovakia',
 '1467.77\t1461.55\t+6.22',
 '46',
 'Norway',
 '1466.48\t1467.51\t-1.03',
 '47',
 'Romania',
 '1462.35\t1468.17\t-5.82',
 '51',
 'Greece',
 '1455.95\t1457.89\t-1.94',
 '57',
 'Slovenia',
 '1429.74\t1427.84\t+1.9',
 '60',
 'Republic of Ireland',
 '1403.84\t1399.74\t+4.1',
 '63',
 'Finland',
 '1393.4\t1394.44\t-1.04',
 '66',
 'Albania',
 '1379.4\t1375.1\t+4.3',
 '70',
 'Iceland',
 '1353.48\t1346.82\t+6.66',
 '71',
 'North Macedonia',
 '1348.63\t1354.19\t-5.56',
 '72',
 'Montenegro',
 '1345.02\t1351.72\t-6.7',
 '73',
 'Northern Ireland',
 '1341.33\t1341.05\t+0.28',
 '74',
 'Georgia',
 '1338.91\t1333.76\t+5.15',
 '75',
 'Bosnia and Herzegovina',
 '1332.3\t1335.6\t-3.3',
 '79',
 'Israel',
 '1312.54\t1311.39\t+1.15',
 '82',
 'Bulgaria',
 '1295.5\t1292.59\t+2.91',
 '85',
 'Luxembourg',
 '1276.73\t1277.94\t-1.21',
 '96',
 'Armenia',
 '1230.79\t1229.18\t+1.61',
 '98',
 'Belarus',
 '1219.78\t1226.54\t-6.76',
 '105',
 'Kosovo',
 '1203.16\t1205.85\t-2.69',
 '109',
 'Kazakhstan',
 '1193.62\t1203.64\t-10.02',
 '111',
 'Azerbaijan',
 '1179.88\t1177.83\t+2.05',
 '123',
 'Estonia',
 '1146.47\t1141.13\t+5.34',
 '126',
 'Cyprus',
 '1136.78\t1141.03\t-4.25',
 '136',
 'Lithuania',
 '1100.66\t1095.23\t+5.43',
 '138',
 'Latvia',
 '1095.98\t1095.91\t+0.07',
 '139',
 'Faroe Islands',
 '1093.7\t1103.43\t-9.73',
 '152',
 'Moldova',
 '1033.75\t1028.85\t+4.9',
 '162',
 'Andorra',
 '996.05\t998.75\t-2.7',
 '172',
 'Malta',
 '970.62\t973.14\t-2.52',
 '198',
 'Gibraltar',
 '836.14\t832.5\t+3.64',
 '199',
 'Liechtenstein',
 '835.83\t832.75\t+3.08',
 '210',
 'San Marino',
 '739.64\t742.05\t-2.41']

In [103]:
def get_indices(lst_length, start_idx, step):

  indices = []
  idx = start_idx

  while idx < lst_length:
    indices.append(idx)
    idx += step

  return indices

In [107]:
ranking_indices = get_indices(len(info), 0, 3)
rankings = [int(ele) for i, ele in enumerate(info) if i in ranking_indices]
rankings

[2,
 3,
 5,
 6,
 7,
 8,
 9,
 10,
 16,
 19,
 21,
 24,
 25,
 26,
 27,
 28,
 29,
 32,
 33,
 34,
 39,
 42,
 45,
 46,
 47,
 51,
 57,
 60,
 63,
 66,
 70,
 71,
 72,
 73,
 74,
 75,
 79,
 82,
 85,
 96,
 98,
 105,
 109,
 111,
 123,
 126,
 136,
 138,
 139,
 152,
 162,
 172,
 198,
 199,
 210]

In [108]:
team_indices = get_indices(len(info), 1, 3)
teams = [ele for i, ele in enumerate(info) if i in team_indices]
teams

['France',
 'Belgium',
 'England',
 'Portugal',
 'Netherlands',
 'Spain',
 'Croatia',
 'Italy',
 'Germany',
 'Switzerland',
 'Denmark',
 'Ukraine',
 'Austria',
 'Poland',
 'Hungary',
 'Sweden',
 'Wales',
 'Serbia',
 'Russia',
 'Czechia',
 'Scotland',
 'T端rkiye',
 'Slovakia',
 'Norway',
 'Romania',
 'Greece',
 'Slovenia',
 'Republic of Ireland',
 'Finland',
 'Albania',
 'Iceland',
 'North Macedonia',
 'Montenegro',
 'Northern Ireland',
 'Georgia',
 'Bosnia and Herzegovina',
 'Israel',
 'Bulgaria',
 'Luxembourg',
 'Armenia',
 'Belarus',
 'Kosovo',
 'Kazakhstan',
 'Azerbaijan',
 'Estonia',
 'Cyprus',
 'Lithuania',
 'Latvia',
 'Faroe Islands',
 'Moldova',
 'Andorra',
 'Malta',
 'Gibraltar',
 'Liechtenstein',
 'San Marino']

In [115]:
total_points_l = []
prev_points_l = []
delta_points_l = []

point_indices = get_indices(len(info), 2, 3)

for idx in point_indices:
  data = info[idx].split('\t')

  total_points_l.append(float(data[0]))
  prev_points_l.append(float(data[1]))
  delta_points_l.append(float(data[2]))

In [120]:
df = pd.DataFrame({'FIFA Ranking': rankings,
                   'Team': teams,
                   'Total Points': total_points_l,
                   'Previous Points': prev_points_l,
                   'Change in Points': delta_points_l})

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FIFA Ranking      55 non-null     int64
 1   Team              55 non-null     object
 2   Total Points      55 non-null     float64
 3   Previous Points   55 non-null     float64
 4   Change in Points  55 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.3+ KB

In [123]:
df.to_csv('fifa_rankings_uefa_june_2024.csv', index=False)